.Banner {
  display: flex;
  flex-direction: column;
  // Make full height
  .react-parallax {
    height: 100%;
    .react-parallax-bgimage {
      min-height: 100%;
      min-width: 100%;
    }
    .react-parallax-content {
      height: 100%;
      @include flex-center-all();
    }
  }
}

.Banner-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
}

.Banner-content {
  position: relative;
  z-index: 10;
  @include flex-center-all();
  color: $white;
  height: 600px;
}
