.Button--floating {
  @include flex-center-all();
  width: 4rem;
  height: 4rem;
  background-color: red;
  border-radius: 100%;
  margin: 0.5rem;
  svg, i {
    font-size: 1.5rem;
    color: white;
  }
}
