@import "~react-toolbox/lib/colors";

.Gradient {

}

.Gradient-text {
  color: transparent;
  -webkit-background-clip: text;
  //background-image: linear-gradient(30deg, #009cf3, #16d6d9);
  &--red {
    //linear-gradient(30 deg, #ffbf02, #edd0082)
    background-image: linear-gradient(30deg, var(--palette-amber-a200), var(--palette-red-a700));
  }
  &--blue {
    //linear-gradient(30deg,#009cf3,#16d6d9)
    background-image: linear-gradient(30deg, var(--palette-teal-a200), var(--palette-light-blue-a400));
  }
  &--green {
    //linear-gradient(30deg,#16d6d9,#96cc29)
    background-image: linear-gradient(30deg, var(--palette-teal-a200), var(--palette-green-a400));
  }
}
