.Navigation-arrow {
  $width: 180px;
  $height: 180px;
  position: absolute;
  @include flex-center-all();
  text-transform: uppercase;
  margin: 0.5rem;
  font-size: 0.75rem;
  &--left {
    height: $height;
    left: 0;
    top: calc(50% - #{$height} / 2);
    display: flex;
    .Navigation-arrowContent {
      display: flex;
      align-items: center;
    }
  }
  &--right {
    height: $height;
    right: 0;
    top: calc(50% - #{$height} / 2);
    .Navigation-arrowContent {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
    }
  }
  &--down {
    width: $width;
    bottom: 0;
    left: calc(50% - #{$width} / 2);
    .Navigation-arrowContent {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
