.Section {
  position: relative;

  // Full screen
  &--full {
    .Section-content {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  // Min Full, can be more
  &--minFull {
    .Section-content {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  // Content & padding
  .Section-content {
    padding: 3rem 0;
    &--noPadding {
      padding: 0;
    }
  }

  .Section-heading {
    text-align: center;
    @include desktop() {
      //margin-top: -15vh;
    }
    img {
      margin-bottom: 1.5rem;
    }
    h1 {
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: 3rem;
      line-height: 1.6;
    }
  }
}

