@import "../styles/includes.global";
@import "~react-toolbox/lib/colors";

.Service {
  position: relative;
  .Service-item {
    margin-bottom: 2rem;
    &Title {
      height: 3rem;
      display: flex;
      align-items: flex-end;
    }
    &Content {
      display: flex;
      align-items: flex-start;
      svg {
        padding-top: 0.25rem;
        padding-right: 0.75rem;
        $width: 4rem;
        min-width: $width;
        width: $width;
        max-width: $width;
      }
      p {

      }
    }
  }
}

