@mixin transition-all() {
  transition: 300ms all;
}

@mixin transition-delay() {
  transition-delay: 1300ms;
}

@mixin flex-center-all() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin mobile() {
  @include media-breakpoint-down(md) {
    @content;
  }
}



