@mixin mobile() {
  @include media-breakpoint-down(sm) {
    @content;
  }
}

@mixin non-mobile() {
  @include media-breakpoint-up(sm) {
    @content;
  }
}

@mixin tablet() {
  @include media-breakpoint-between(sm, md) {
    @content;
  }
}

@mixin desktop() {
  @include media-breakpoint-up(md) {
    @content;
  }
}

