.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

@include tablet() {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@include desktop() {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
