html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 120%;

  @include tablet() {
    font-size: 130%;
  }

  @include desktop() {
    font-size: 140%;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h4 {
  font-family: $font-family-sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

a:hover {
  text-decoration: none;
  color: inherit;
  opacity: 1;
}
