@import "~react-toolbox/lib/colors";

$accent-primary: #4EB2D1;
$font-weight-light: 200;
$font-weight-normal: 300;
$font-weight-bold: 700;

//$font-family-sans-serif: "niveau-grotesk", sans-serif;
$font-family-sans-serif: "aktiv-grotesk", sans-serif;
$headings-font-family: "futura-pt", sans-serif;
$headings-font-weight: $font-weight-bold;

$spacer: 2rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($spacer * .33),
  2: ($spacer * .66),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 2.5)
), $spacers);

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 960px,
  xl: 1260px
) !default;

$pink: #FF80AB;
$white: #FFF;
$teal: #84FFFF;
$orange: #FF8A65;
$purple: #B388FF;
$blue: #0FBAE5;
