//@import url('//fonts.googleapis.com/css?family=Roboto:300,400');

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 2000px;
}

.Img--cover {
  display: block;
  height: 100%;
  background-image: url("img/backgrounds/tablets-camera-tabletop.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

$navbar-light-toggler-icon-bg: none;
$navbar-dark-toggler-icon-bg: none;

@import "./variables";
@import "./vendors";
@import "./responsive";
@import "./spacing";
@import "./colors";
@import "./includes.global";
@import "./typography";
// Header
@import "../Header/Hamburger.global.scss";
@import "../Header/Header.global.scss";
@import "../Header/Menu.global.scss";
//
@import "components/Button";
@import "components/Banner";
@import "components/Navigation";
@import "components/Section";
@import "components/Bg";
@import "components/Gradient";
@import "../Services/Services.global.scss";
