@mixin flex-center-all() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Hamburger {
  @include flex-center-all();
}

.Hamburger-line {
  width: 50%;
  max-height: 3px;
  min-height: 3px;
  height: 3px;
  margin: 3px auto;
  display: block;
  border-radius: 2px;
  background-color: white !important;
}
