@import "../styles/includes.global";
@import "~react-toolbox/lib/colors";

.Header {
  //position: relative;

  //.Hamburger {
  //  position: fixed;
  //  right: 0;
  //  top: 0;
  //  z-index: 10;
  //  &:hover {
  //    cursor: pointer;
  //  }
  //}

  svg {
    color: $white;
  }
  color: $white;
}

