@import "../styles/includes.global.scss";
@import "~react-toolbox/lib/colors";

.Menu-bar {
  background-color: $white;
  height: 4px;
  width: 28px;
  display: block;
  margin: 6px auto;
  @include transition-all();
}

.Menu-bar--top {
  .isOpen & {
    transform: translateY(9px) rotate(-46deg);
    transform-origin: top;
  }
}

.Menu-bar--mid {
  @include transition-all();
  .isOpen & {
    @include transition-all();
    opacity: 0;
  }
}

.Menu-bar--bot {
  .isOpen & {
    transform: translateY(-9px) rotate(44deg);
    transform-origin: bottom;
  }
}

.menu-item {
  color: $white;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
  z-index: 1200 !important;
}

// Hide exit
.bm-cross-button {
  display: none;
}

// Menu wrapper
.bm-menu-wrap {
  width: 400px !important;
  @include mobile () {
    width: 100% !important;
  }
  // Menu container
  .bm-menu {
    background: var(--palette-amber-a200);
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
}

/* General sidebar styles */

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  //fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  //color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  //background: rgba(0, 0, 0, 0.3);
}

