@import "../styles/includes.global.scss";
@import "~react-toolbox/lib/colors";

.Testimonial {
  padding: 8rem 0;
  ul.slick-dots {
    top: 9rem;
  }
  .slick-slider {
    padding-top: 2rem;
    .slick-track {
      .slick-slide {
        .Testimonial-imgWrapper {
          @include flex-center-all();
          height: 4rem;
          img {
            max-height: 4rem;
            max-width: 6rem;
          }
        }
      }
    }
  }
}


